@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{   
    display: flex;
    align-items: bottom;
    justify-content: center;
    margin: 80px;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d7dde887, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d7dde887, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.base{
    transform: rotate(-25deg) ;
    color: rgb(10, 33, 43);
    display: flex;
    width: 240px;
    height: 480px;
    border-radius: 20px;
    flex-flow: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tela p{
    margin-top: 50px;
    margin-right: -45px;
    font-size: 25px;
    font-weight: bold;
    float:right;
    padding: 60px;
    
}
.base h1{
    font-size: 20px;
    align-self: center;
    justify-self: flex-start;
}
.tela{
    background-color: rgba(255, 255, 255, 0.111);
    width: 210px;
    height: 150px;
    align-self: center;
    border-radius: 15px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.botoes{
    font-family: 'Orbitron', sans-serif;
    margin-left: 10px;
    margin-top: 4px;
    width: 290px;
    height: 280px;
    border-radius: 25px;
    flex-flow: column;    
}
#btn{
    font-family: 'Orbitron', sans-serif;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    border-left: none;
    border-top: none;
    font-size: larger;
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    box-shadow: white 0px 2px 4px,white 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#opp{
    font-family: 'Orbitron', sans-serif;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 10px;
    font-size: larger; 
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    border-left: none;
    border-top: none;
    box-shadow: white 0px 2px 4px, white 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


