<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    
    <title>Calculadora Front-end</title>
</head>
<body>
    <div class="base">
        <br>
        <div class="tela">
            <p>
                23
                x 9
                = 207
            </p>
        </div>
        <div class="botoes">
            <table>
                <td><input type="button" id="opp" name="botao" value="C"></td>
                <td><input type="button" id="opp" name="botao" value="%"></td>
                <td><input type="button" id="opp" name="botao" value="⌫"></td>
                <td><input type="button" id="opp" name="botao" value="÷"></td>
            </table>
            <table>
                <td><input type="button" id="btn" name="botao" value="7"></td>
                <td><input type="button" id="btn" name="botao" value="8"></td>
                <td><input type="button" id="btn" name="botao" value="9"></td>
                <td><input type="button" id="opp" name="botao" value="x"></td>
            </table>
            <table>
                <td><input type="button" id="btn" name="botao" value="4"></td>
                <td><input type="button" id="btn" name="botao" value="5"></td>
                <td><input type="button" id="btn" name="botao" value="6"></td>
                <td><input type="button" id="opp" name="botao" value="-"></td>
            </table>
            <table>
                <td><input type="button" id="btn" name="botao" value="1"></td>
                <td><input type="button" id="btn" name="botao" value="2"></td>
                <td><input type="button" id="btn" name="botao" value="3"></td>
                <td><input type="button" id="opp" name="botao" value="+"></td>
            </table>
            <table>
                <td><input type="button" id="btn" name="botao" value="00"></td>
                <td><input type="button" id="btn" name="botao" value="0"></td>
                <td><input type="button" id="btn" name="botao" value="."></td>
                <td><input type="button" id="opp" name="botao" value="="></td>
            </table>

    </div>

    
</body>
</html>